// Fonts
@import url("https://fonts.googleapis.com/css?family=Questrial");

// Variables
@import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
//reset
p {
    margin: 0;
    padding: 0;
}
body {
    background-size: cover !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    background-color: #e9304d;
    z-index: 2;
}
.page {
    min-height: 100vh;
    font-family: "Questrial", sans-serif;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    width: 100%;
    z-index: 222;
    &::after,
    &::before {
        position: absolute;
        min-height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0.8;
        background-color: #e9304d;
        z-index: 2;
    }
    &__nav {
        height: 60px;
        // border: 1px solid blue;
        display: flex;
        padding: 0 2em;
        justify-content: space-between;
        align-items: center;
        & > div:nth-child(2) {
            display: flex;
            color: white;
            justify-content: space-between;
            width: 150px;
            // border: 1px solid green;
            align-items: center;
        }
    }
    &__container {
        display: flex;
        position: relative;
        min-height: calc(100vh - 60px);
        align-items: center;
        padding: 40px 0;
    }
    &__content {
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
    }
    &__title {
        font-size: 35px;
        color: white;
        &--lg {
            font-size: 70px;
            line-height: 75px;
        }
    }
    &__subtitle {
        font-size: 25px;
        color: white;
        font-style: normal;
        font-weight: 400;
    }
    &__media {
        display: flex;
        margin: 0 auto;
        max-width: 200px;
        justify-content: space-around;
        margin-top: 15px;
    }
}

//Forms

.form {
    // position: relative;
    width: 100%;
    &__field {
        -webkit-appearance: none;
        outline: none;
        border: 0;
        color: #bfbfbf;
        // padding: 10px;
        text-align: right;
        background-color: transparent;
        padding: 13px 0px;
        // padding-right: 0;
        &::placeholder {
            color: #bfbfbf;
        }
    }
}
label.input {
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    background-color: white;
    font-size: 19px;
    padding: 0 15px;
    border-radius: 5px;
    color: #cecece;
    border: 1px solid white;
    box-shadow: 0 30px 35px 0 rgba(65, 8, 8, 0.15);
    background-image: linear-gradient(82deg, #ffffff, #edd9d9);
    span {
        width: 5%;
    }
    input {
        width: 95%;
    }
}

.media-radio {
    position: relative;
    input {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    input:checked {
        & ~ span {
            opacity: 1;
            transition: 0.3s all;
        }
        & ~ i {
            box-shadow: 0 35px 30px 0 rgba(77, 6, 6, 0.25);
        }
    }

    & > span {
        position: absolute;
        top: 0;
        right: 5px;
        opacity: 0;
        i {
            font-size: 10px;
            color: white;
            padding: 2px;
            background-color: #17eb68;
            border-radius: 50%;
        }
    }
    i {
        padding: 26px;
        font-size: 26px;
        border-radius: 5px;
        box-shadow: 0 20px 25px 0 rgba(77, 6, 6, 0.18);
        color: white;
        &.fa-twitter {
            background-color: #51abf1;
        }
        &.fa-instagram {
            background-color: #c537a4;
        }
    }
}

.question2 {
    display: flex;
    flex-grow: 1;
    & > div {
        margin-bottom: 20px;
        & > label {
            width: 100%;
            border: 1px solid #c537a4;
            margin-bottom: 0;
            height: 150px;
            position: relative;
            background: white;
            border-radius: 5px;
            & > input {
                margin-bottom: 0;
                height: 150px;
                position: relative;
                opacity: 0;
            }

            & > .quest {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 50%;
                transform: translateY(-50%);
                // font-display:
            }
            & > i {
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 10px;
                color: white;
                padding: 2px;
                background-color: #17eb68;
                border-radius: 50%;
                opacity: 0;
            }

            & > input:checked {
                // & ~ span {
                //     opacity: 1;
                //     transition: 0.3s all;
                // }
                & ~ i {
                    opacity: 1;
                }
            }
        }
    }
}

// Steppers
.steppers {
    display: flex;
    justify-content: space-between;
    text-align: center;
    // max-width: 900px;
    margin: 30px auto 0;
    position: relative;
    max-width: 1000px;
    align-items: center;
    .line {
        border-top: 3px solid white;
        height: 2px;
        width: 70px;
    }
    .step {
        border: 1px solid white;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;

        span {
            font-size: 12px;
            color: white;
        }
        p {
            font-size: 17px;
            color: white;
        }
    }
}

//Assets
.next {
    margin-top: 20px;
    color: white;
}
.mg-b {
    margin-bottom: 15px;
    &--lg {
        margin-bottom: 35px;
    }
}

//About
.about {
    min-height: 100vh;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 222;
    span {
        font-size: 26px;
        position: absolute;
        right: 45px;
        top: 45px;
        cursor: pointer;
    }
    div {
        height: fit-content;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        top: 30%;
        transform: translateY(-50%);
        position: absolute;
        left: 0;
        right: 0;
    }
}
.opacity-0 {
    opacity: 0;
    z-index: -1;
}
#about-click {
    cursor: pointer;
}

.step-active {
    background-color: #e9304d;
    color: white;
    animation: scale 1s infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.btn {
    color: white;
    text-align: center;
    font-size: 19px;
    margin-top: 25px;
    background-color: transparent;
    outline: none;
    border: 0;
}
.claim {
    & > .col-md-4 {
        height: 100px;
        margin-bottom: 20px;
    }
    label {
        width: 100%;
        border: 1px solid #c537a4;
        margin-bottom: 0;
        height: 100px;
        position: relative;
        background: white;
        border-radius: 5px;
        & > input {
            margin-bottom: 0;
            height: 150px;
            position: relative;
            opacity: 0;
        }

        & > span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
            // font-display:
        }
        & > i {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 10px;
            color: white;
            padding: 2px;
            background-color: #17eb68;
            border-radius: 50%;
            opacity: 0;
        }

        & > input:checked {
            // & ~ span {
            //     opacity: 1;
            //     transition: 0.3s all;
            // }
            & ~ i {
                opacity: 1;
            }
        }
    }
}
