// Fonts
@import url("https://fonts.googleapis.com/css?family=Questrial");

// Variables
@import "variables";
@import "mixins";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
//reset

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    object-fit: cover;
    min-height: 100%;
}
p {
    margin: 0;
    padding: 0;
}
body {
    background-size: cover !important;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    // background-image: url("../img/bg.gif");
}

.overlay {
    // position: absolute;
    // min-height: 100%;
    // width: 100%;
    // left: 0;
    // top: 0;
    // opacity: 0.8;
    // background-color: #e9304d;
    // z-index: 2;
}
.page {
    min-height: 100vh;
    font-family: "Questrial", sans-serif;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    width: 100%;
    z-index: 222;
    &::after,
    &::before {
        position: absolute;
        min-height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        opacity: 0.8;
        background-color: #e9304d;
        z-index: 2;
    }
    &__nav {
        height: 60px;
        // border: 1px solid blue;
        display: flex;
        padding: 0 2em;
        justify-content: space-between;
        align-items: center;
        & > div:nth-child(2) {
            display: flex;
            color: white;
            justify-content: space-between;
            // width: 150px;
            // border: 1px solid green;
            align-items: center;
        }
    }
    &__container {
        // display: flex;
        position: relative;
        min-height: calc(100vh - 60px);
        // align-items: center;
        padding: 50px 0;
    }
    &__content {
        max-width: 770px;
        margin: 0 auto;
        text-align: center;
        padding: 15px;
    }
    &__title {
        font-size: 35px;
        color: white;
        &--lg {
            font-size: 70px;
            line-height: 75px;
            @include screen("small") {
                font-size: 40px;
                line-height: 50px;
            }
            @include screen("mid") {
                font-size: 50px;
                line-height: 50px;
            }
        }
    }
    &__subtitle {
        font-size: 25px;
        color: white;
        font-style: normal;
        font-weight: 400;
    }
    &__media {
        display: flex;
        margin: 0 auto;
        max-width: 250px;
        justify-content: space-around;
        margin-top: 15px;
        align-items: center;
    }
    &__thanks {
        display: flex;
        padding: 2em;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        // font-style: italic;
        min-height: 100vh;
        color: white;
    }
}

//Forms

.form {
    // position: relative;
    width: 100%;
    min-height: 40vh;
    &__field {
        -webkit-appearance: none;
        outline: none;
        border: 0;
        color: #bfbfbf;
        // padding: 10px;
        text-align: right;
        background-color: transparent;
        padding: 13px 0px;
        // padding-right: 0;
        &::placeholder {
            color: #bfbfbf;
        }
    }
}
label.input {
    display: flex;
    // width: 80%;
    margin: 20px auto;
    align-items: center;
    background-color: white;
    font-size: 19px;
    padding: 0 15px;
    border-radius: 5px;
    color: #cecece;
    border: 1px solid white;
    box-shadow: 0 30px 35px 0 rgba(65, 8, 8, 0.15);
    // background-image: linear-gradient(82deg, #ffffff, #edd9d9);
    span {
        width: 5%;
    }
    input {
        width: 95%;
    }
}

.media-radio {
    position: relative;
    input {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    input:checked {
        & ~ span {
            opacity: 1;
            transition: 0.3s all;
        }
        & ~ i {
            box-shadow: 0 35px 30px 0 rgba(77, 6, 6, 0.25);
        }
    }

    & > span {
        position: absolute;
        top: -4px;
        right: 2px;
        opacity: 0;
        i {
            font-size: 5px;
            color: white;
            padding: 2px;
            background-color: #17eb68;
            border-radius: 50%;
        }
    }
    i {
        padding: 13px;
        font-size: 18px;
        border-radius: 5px;
        box-shadow: 0 20px 25px 0 rgba(77, 6, 6, 0.18);
        color: white;
        &.fa-twitter {
            background-color: #51abf1;
        }
        &.fa-instagram {
            background-color: #c537a4;
        }
    }
}

.question2 {
    display: flex;
    flex-grow: 1;
    & > div {
        margin-bottom: 20px;
        & > label {
            width: 100%;
            border: 1px solid #c537a4;
            margin-bottom: 0;
            height: 150px;
            position: relative;
            background: white;
            border-radius: 5px;
            & > input {
                margin-bottom: 0;
                height: 150px;
                position: relative;
                opacity: 0;
            }

            & > .quest {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 50%;
                transform: translateY(-50%);
                // font-display:
            }
            & > i {
                position: absolute;
                top: 5px;
                right: 10px;
                font-size: 10px;
                color: white;
                padding: 2px;
                background-color: #17eb68;
                border-radius: 50%;
                opacity: 0;
            }

            & > input:checked {
                // & ~ span {
                //     opacity: 1;
                //     transition: 0.3s all;
                // }
                & ~ i {
                    opacity: 1;
                }
            }
        }
    }
}

// Steppers
.steppers {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px auto 0;
    position: relative;
    max-width: 1000px;
    align-items: center;
    bottom: 0px;
    left: 0;
    right: 0;
    @include screen("small") {
        justify-content: center;
    }
    @include screen("mid") {
        justify-content: center;
    }
    .line {
        border-top: 3px solid #eaeaea;
        height: 2px;
        width: 70px;
        @include screen("small") {
            display: none;
        }
        @include screen("mid") {
            display: none;
        }
    }
    .step {
        border: 1px solid white;
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.6);
        @include screen("small") {
            display: none;
        }
        @include screen("mid") {
            display: none;
        }
        &-active {
            border: 1px solid rgba(234, 234, 234, 1);
            color: white;
            background: rgba(255, 255, 255, 1) !important;
            transition: 0.7s all;
            // animation: scale 1s infinite;
            p {
                opacity: 1 !important;
                font-weight: 700;
            }
            @include screen("small") {
                display: flex !important;
                animation: scale 1s infinite;
            }
            @include screen("mid") {
                display: flex !important;
                animation: scale 1s infinite;
            }
        }
        & > div {
            width: inherit;
        }
        p {
            font-size: 15px;
            color: #e9304d;
            text-align: center;
            opacity: 0.6;
        }
    }
}

//Assets
.next {
    margin-top: 20px;
    color: white;
}
.mg-b {
    margin-bottom: 15px;
    &--lg {
        margin-bottom: 35px;
    }
}

//About
.about {
    min-height: 100vh;
    background-color: white;
    opacity: 0.95;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    // transform: translateY(-50%);
    z-index: 222;
    span {
        font-size: 26px;
        position: absolute;
        right: 45px;
        top: 45px;
        cursor: pointer;
    }
    div {
        height: fit-content;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        top: 30%;
        transform: translateY(-50%);
        position: absolute;
        left: 0;
        right: 0;
    }
}
.opacity-0 {
    opacity: 0;
    z-index: -1;
}
#about-click {
    cursor: pointer;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.btn {
    color: #e9304d;
    text-align: center;
    font-size: 19px;
    margin-top: 25px;
    background-color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 55px;
    text-transform: uppercase;
    &:hover {
        color: white;
        background: transparent;
    }
}
.claim {
    & > .col-md-4 {
        height: 100px;
        margin-bottom: 20px;
    }
    label {
        width: 100%;
        border: 1px solid #c537a4;
        margin-bottom: 0;
        height: 100px;
        position: relative;
        background: white;
        border-radius: 5px;
        & > input {
            margin-bottom: 0;
            height: 150px;
            position: relative;
            opacity: 0;
        }

        & > span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
            // font-display:
        }
        & > i {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 10px;
            color: white;
            padding: 2px;
            background-color: #17eb68;
            border-radius: 50%;
            opacity: 0;
        }

        & > input:checked {
            // & ~ span {
            //     opacity: 1;
            //     transition: 0.3s all;
            // }
            & ~ i {
                opacity: 1;
            }
        }
    }
}
.white {
    color: white;
}
.share {
    position: relative;
    color: #e9304d;
    margin-right: 5px;
    text-align: center;
    font-size: 19px;
    margin-top: 15px;
    background-color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 55px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    input {
        opacity: 0;
        position: absolute;
        width: 100%;
    }
    input:checked .share {
        background: red;
    }
}
.subbtn {
    position: relative;
    background-color: #e9304d;
    margin-right: 5px;
    text-align: center;
    font-size: 19px;
    margin-top: 15px;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 55px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.loader {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    & > div {
        text-align: center;
        & > div {
            margin-bottom: 15px;
        }
    }
}
.loader-text {
    color: #e9304d;
    font-size: 23px;
}
.lds-heart {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: rotate(45deg);
    transform-origin: 32px 32px;
}
.lds-heart div {
    top: 23px;
    left: 19px;
    position: absolute;
    width: 48px;
    height: 48px;
    background: #e9304d;
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 48px;
    height: 48px;
    background: #e9304d;
}
.lds-heart div:before {
    left: -32px;
    border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
    top: -32px;
    border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}
#canvas {
    width: 600px;
    height: 600px;
    background-color: white;
    border-color: #e9304d;
}
