@import url(https://fonts.googleapis.com/css?family=Questrial);*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */
*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */
/* This one works! */
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover !important;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.page {
  min-height: 100vh;
  font-family: "Questrial", sans-serif;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  width: 100%;
  z-index: 222;
}
.page::after, .page::before {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
  background-color: #e9304d;
  z-index: 2;
}
.page__nav {
  height: 60px;
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
  align-items: center;
}
.page__nav > div:nth-child(2) {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.page__container {
  position: relative;
  min-height: calc(100vh - 60px);
  padding: 50px 0;
}
.page__content {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
.page__title {
  font-size: 35px;
  color: white;
}
.page__title--lg {
  font-size: 70px;
  line-height: 75px;
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .page__title--lg {
    font-size: 40px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 460px) and (max-width: 767px) {
  .page__title--lg {
    font-size: 50px;
    line-height: 50px;
  }
}
.page__subtitle {
  font-size: 25px;
  color: white;
  font-style: normal;
  font-weight: 400;
}
.page__media {
  display: flex;
  margin: 0 auto;
  max-width: 250px;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}
.page__thanks {
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  min-height: 100vh;
  color: white;
}

.form {
  width: 100%;
  min-height: 40vh;
}
.form__field {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  color: #bfbfbf;
  text-align: right;
  background-color: transparent;
  padding: 13px 0px;
}
.form__field::-webkit-input-placeholder {
  color: #bfbfbf;
}
.form__field:-ms-input-placeholder {
  color: #bfbfbf;
}
.form__field::-ms-input-placeholder {
  color: #bfbfbf;
}
.form__field::placeholder {
  color: #bfbfbf;
}

label.input {
  display: flex;
  margin: 20px auto;
  align-items: center;
  background-color: white;
  font-size: 19px;
  padding: 0 15px;
  border-radius: 5px;
  color: #cecece;
  border: 1px solid white;
  box-shadow: 0 30px 35px 0 rgba(65, 8, 8, 0.15);
}
label.input span {
  width: 5%;
}
label.input input {
  width: 95%;
}

.media-radio {
  position: relative;
}
.media-radio input {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.media-radio input:checked ~ span {
  opacity: 1;
  transition: 0.3s all;
}
.media-radio input:checked ~ i {
  box-shadow: 0 35px 30px 0 rgba(77, 6, 6, 0.25);
}
.media-radio > span {
  position: absolute;
  top: -4px;
  right: 2px;
  opacity: 0;
}
.media-radio > span i {
  font-size: 5px;
  color: white;
  padding: 2px;
  background-color: #17eb68;
  border-radius: 50%;
}
.media-radio i {
  padding: 13px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 20px 25px 0 rgba(77, 6, 6, 0.18);
  color: white;
}
.media-radio i.fa-twitter {
  background-color: #51abf1;
}
.media-radio i.fa-instagram {
  background-color: #c537a4;
}

.question2 {
  display: flex;
  flex-grow: 1;
}
.question2 > div {
  margin-bottom: 20px;
}
.question2 > div > label {
  width: 100%;
  border: 1px solid #c537a4;
  margin-bottom: 0;
  height: 150px;
  position: relative;
  background: white;
  border-radius: 5px;
}
.question2 > div > label > input {
  margin-bottom: 0;
  height: 150px;
  position: relative;
  opacity: 0;
}
.question2 > div > label > .quest {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.question2 > div > label > i {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 10px;
  color: white;
  padding: 2px;
  background-color: #17eb68;
  border-radius: 50%;
  opacity: 0;
}
.question2 > div > label > input:checked ~ i {
  opacity: 1;
}

.steppers {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 30px auto 0;
  position: relative;
  max-width: 1000px;
  align-items: center;
  bottom: 0px;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .steppers {
    justify-content: center;
  }
}
@media only screen and (min-width: 460px) and (max-width: 767px) {
  .steppers {
    justify-content: center;
  }
}
.steppers .line {
  border-top: 3px solid #eaeaea;
  height: 2px;
  width: 70px;
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .steppers .line {
    display: none;
  }
}
@media only screen and (min-width: 460px) and (max-width: 767px) {
  .steppers .line {
    display: none;
  }
}
.steppers .step {
  border: 1px solid white;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .steppers .step {
    display: none;
  }
}
@media only screen and (min-width: 460px) and (max-width: 767px) {
  .steppers .step {
    display: none;
  }
}
.steppers .step-active {
  border: 1px solid #eaeaea;
  color: white;
  background: white !important;
  transition: 0.7s all;
}
.steppers .step-active p {
  opacity: 1 !important;
  font-weight: 700;
}
@media only screen and (min-width: 320px) and (max-width: 460px) {
  .steppers .step-active {
    display: flex !important;
    -webkit-animation: scale 1s infinite;
            animation: scale 1s infinite;
  }
}
@media only screen and (min-width: 460px) and (max-width: 767px) {
  .steppers .step-active {
    display: flex !important;
    -webkit-animation: scale 1s infinite;
            animation: scale 1s infinite;
  }
}
.steppers .step > div {
  width: inherit;
}
.steppers .step p {
  font-size: 15px;
  color: #e9304d;
  text-align: center;
  opacity: 0.6;
}

.next {
  margin-top: 20px;
  color: white;
}

.mg-b {
  margin-bottom: 15px;
}
.mg-b--lg {
  margin-bottom: 35px;
}

.about {
  min-height: 100vh;
  background-color: white;
  opacity: 0.95;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0%;
  z-index: 222;
}
.about span {
  font-size: 26px;
  position: absolute;
  right: 45px;
  top: 45px;
  cursor: pointer;
}
.about div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
}

.opacity-0 {
  opacity: 0;
  z-index: -1;
}

#about-click {
  cursor: pointer;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.btn {
  color: #e9304d;
  text-align: center;
  font-size: 19px;
  margin-top: 25px;
  background-color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 55px;
  text-transform: uppercase;
}
.btn:hover {
  color: white;
  background: transparent;
}

.claim > .col-md-4 {
  height: 100px;
  margin-bottom: 20px;
}
.claim label {
  width: 100%;
  border: 1px solid #c537a4;
  margin-bottom: 0;
  height: 100px;
  position: relative;
  background: white;
  border-radius: 5px;
}
.claim label > input {
  margin-bottom: 0;
  height: 150px;
  position: relative;
  opacity: 0;
}
.claim label > span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.claim label > i {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 10px;
  color: white;
  padding: 2px;
  background-color: #17eb68;
  border-radius: 50%;
  opacity: 0;
}
.claim label > input:checked ~ i {
  opacity: 1;
}

.white {
  color: white;
}

.share {
  position: relative;
  color: #e9304d;
  margin-right: 5px;
  text-align: center;
  font-size: 19px;
  margin-top: 15px;
  background-color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 55px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}
.share input {
  opacity: 0;
  position: absolute;
  width: 100%;
}
.share input:checked .share {
  background: red;
}

.subbtn {
  position: relative;
  background-color: #e9304d;
  margin-right: 5px;
  text-align: center;
  font-size: 19px;
  margin-top: 15px;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 55px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.loader {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.loader > div {
  text-align: center;
}
.loader > div > div {
  margin-bottom: 15px;
}

.loader-text {
  color: #e9304d;
  font-size: 23px;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 32px 32px;
          transform-origin: 32px 32px;
}

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #e9304d;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  background: #e9304d;
}

.lds-heart div:before {
  left: -32px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -32px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  5% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  39% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
#canvas {
  width: 600px;
  height: 600px;
  background-color: white;
  border-color: #e9304d;
}